* {
    font-family: "droid-sans-mono", "Courier New";
    font-size: 14px;
    line-height: 1.1;
}

.scope {
    background-color: #FFD;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0px 0 5px;
}

.scope .scope {
    background-color: #FDF;
}

.scope .scope .scope {
    background-color: #DFF;
}

.scope .scope .scope .scope {
    background-color: #EFE;
}

.scope .scope .scope .scope .scope {
    background-color: #FEE;
}

.scope .scope .scope .scope .scope .scope {
    background-color: #EEF;
}

.scope .scope .scope .scope .scope .scope .scope {
    background-color: #EEE;
}

.whitebg {
   background-color: white;
}

.tab { margin-left: 20px; }


img {
    vertical-align: middle;
}

@font-face {
  font-family: 'droid-sans-mono';
  src: URL('DroidSansMono.ttf') format('truetype');
}

@font-face {
  font-family: 'lmmath-regular';
  src: URL('lmmath-regular.ttf') format('truetype');
}